#hero {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 30px;
}

body.page-fr #hero {
    background-image: url("images/logo_fr.jpg");
}

body.page-ru #hero {
    background-image: url("images/logo_ru.jpg");
}

#change-language {
    position: absolute;       
    top: 20px;               
    right: 20px;             
    display: flex;                         
}

#change-language .lang {
    text-decoration: none;                
    font-family: "URW Chancery L", cursive;   
    font-weight: bold;                     
    color: white;
    font-size: 20px;
}                       

body {
    background-color: #40180D; 
    background-image: url("images/fond.png");
    background-repeat: repeat;
    color: #f5e6a0;            
    font-size: 20px;
    line-height: 1.7;
    margin: 0;                 
    padding: 0;
}

#a-propos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
}

body img {
    box-shadow: 6px 0px 15px black;
    border-radius: 5px;
    width: 800px;
}

h1, h2 {
    font-family: Bookman, "URW Bookman L", serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #d7af55;
    margin-bottom: 30px;
    margin-top: 30px;
    text-shadow: 2px 2px 4px black;
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid black;
    margin: 5px 5px 5px 5px;
    background-color: #2a120a;
    opacity: 0.8;
    box-shadow: 6px 0px 15px black;
}

td, th {
    text-align: center;
    vertical-align: middle;
    border:1px solid black;
}

p {
    margin: 1px 200px 1px 200px;
    text-align: center;
    font-family: Bookman, "URW Bookman L", serif;
}

#important, #conclusion {
    color: #d7af55;
    font-size: 25px;
}

section {
    padding: 25px 5px 25px 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
}

body .autre-page {               
    font-family: "URW Chancery L", cursive;   
    font-weight: bold;                     
    color: white;
    font-size: 20px;
}

#barre1 {
    margin-top: 70px;
    margin-bottom: 0px;
    padding: 0px;
    border-radius: 0px;
}

#barre2 {
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 0px;
    border-radius: 0px;
}

#barre1 img {
    box-shadow: none;
    margin: 0px;
}

#barre2 img {
    box-shadow: none;
    margin: 0px;
}

video {
    max-width: 100%;
    width: 600px;   
    display: block;
    margin: 30px;
}

footer {
    background-color: #2a120a;
    text-align: center;
    padding-top: 35px;
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 40px;
    }
    body .autre-page {
        font-size: 40px;
    }
    #important, #conclusion {
        font-size: 45px;
    }
    h1, h2 {
        letter-spacing: 1px;
        margin-bottom: 25px;
        text-shadow: 1px 1px 3px black;
    }
    #a-propos img {
        width: 85%;
    }
    body img {
        width: 85%;
    }
    table {
        width: 90%;
        margin: 3px 3px 3px 3px;
        padding: 1px 1px 1px 1px;
    }
    video {
        width: 90%;
    }
    #hero {
        height: 400px;
        background-position: top left;
    }
    p {
        margin: 1px 50px 1px 50px;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 50px;
    }
    body .autre-page {
        font-size: 50px;
    }
    #important, #conclusion {
        font-size: 55px;
    }
    h1, h2 {
        letter-spacing: 1px;
        margin-bottom: 20px;
        text-shadow: 1px 1px 2px black;
    }
    #a-propos img {
        width: 75%;
    }
    body img {
        width: 75%;
    }
    table {
        width: 85%;
        margin: 1px 1px 1px 1px;
        padding: 1px 1px 1px 1px;
    }
    video {
        width: 80%;
    }
    #hero {
        height: 250px;
        background-position: top left;
    }
    p {
        margin: 0px;
        padding: 0px;
    }
    section {
        gap: 10px;
        padding: 2px 1px 2px 1px;
    }

}
