body{
    padding: 0%;
    margin: 5%;
    background: url(../../../images/fond.jpg);
    background-attachment: fixed;
}
h1{
    padding: 3% 0;
    text-align: center;
    color: black;
    background-color: rgba(17, 237, 57, 0.86);
    text-decoration: underline;
    border-radius: 20px
}

section{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    margin: 1% 0;
    padding:  4%;
    align-items: center;
    background-color:rgba(0, 0, 255, 0.86);
    border-radius: 20px;
    color: white;
}

h2{
    text-decoration: underline;
    text-align: center;
}

img{
    width: 100%;
    max-width:400px ;
}
article{
    padding: 2% 5%;
    margin:2% 0;
    background-color: rgba(165, 42, 42, 0.86);
    border-radius: 20px;
    color:white
}
video{
    width:300px;
}
table{
    width: 100%;
    margin: 1% 0;
    padding: 2%;
    color: white;
    background-color: rgba(0, 0, 255, 0.86);
    border-radius: 20px;
    border: solid black
}
td,th{
    text-align: center;
    border: 2px solid black;
}
footer{
    padding: 3% 0;
    margin: 2% 0;
    color: black;
    background-color: rgba(17, 237, 57, 0.86);
    text-align: center;
    border-radius: 20px
}

a{
    color:#030051
}