
body{
    padding: 0%;
    margin: 5%;
    background: url(../images/fond.jpg) center;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    
}
h1{
    padding: 3% 0;
    color: black;
    background-color: rgba(17, 237, 57, 0.86);
    text-decoration: underline;
    text-align: center;
    border-radius: 20px
}
nav{
    margin: 1% 0;
    padding: 2%;
    color: white;
    font-size: large;
    background-color: rgba(0, 238, 255, 0.86);
    border-radius: 20px
}
td{
    text-align: center;
    width: 2%;
}
main{
    display: grid;
    grid-template-columns:auto 2% 150px
}
aside{
    float: right;
    background-color: white;
    border-radius: 20px;
    border: solid black;
    padding: 5%;
    margin: 4%;
    text-align: center;
}
section{
    margin: 1% 0;
    padding: 4%;
    color: white;
    background-color: rgba(165, 42, 42, 0.86);
    border-radius: 20px
}
h2{
    text-decoration: underline;
    text-align: center;
}
div{
    display: grid;
    grid-template-columns: 48% 4% 48% ;
    align-items: center;
}
img{
    width: 100%;
    
}
footer{
    padding: 3% 0;
    margin: 2% 0;
    color: black;
    background-color: rgba(17, 237, 57, 0.86);
    text-align: center;
    border-radius: 20px
}
a{
    color:#030051
}