body{
    padding: 0%;
    margin: 5%;
    background: url(../../images/fond.jpg) center;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    
}

h1{
    padding: 3% 0;
    text-align: center;
    color: black;
    background-color: rgba(17, 237, 57, 0.86);
    text-decoration: underline;
    border-radius: 20px
}

section{
    margin: 1% 0;
    display: grid;
    padding:  4%;
    grid-template-columns: 48% 4% 48% ;
    align-items: center;
    background-color:rgba(0, 0, 255, 0.86);
    border-radius: 20px;
    color: white;
}

h2{
    text-decoration: underline;
    text-align: center;
}

img{
    width: 100%;
}

article{
    padding: 2% 5%;
    margin:2% 0;
    background-color: rgba(165, 42, 42, 0.86);
    border-radius: 20px;
    color:white
}

footer{
    padding: 3% 0;
    margin: 2% 0;
    color: black;
    background-color: rgba(17, 237, 57, 0.86);
    text-align: center;
    border-radius: 20px
}

a{
    color:#030051
}